USE [master]
GO
/****** Object:  Database [FPL_DAOTAO]    Script Date: 7/26/2021 12:23:34 PM ******/
CREATE DATABASE [FPL_DAOTAO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FPL_DAOTAO', FILENAME = N'D:\document\MSSQL15.SQLEXPRESS\MSSQL\DATA\FPL_DAOTAO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FPL_DAOTAO_log', FILENAME = N'D:\document\MSSQL15.SQLEXPRESS\MSSQL\DATA\FPL_DAOTAO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPL_DAOTAO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FPL_DAOTAO]
GO
/****** Object:  Table [dbo].[GRADE]    Script Date: 7/26/2021 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](50) NULL,
	[TiengAnh] [decimal](5, 2) NULL,
	[TinHoc] [decimal](5, 2) NULL,
	[GDTC] [decimal](5, 2) NULL,
 CONSTRAINT [PK_GRADE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 7/26/2021 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[MaSV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SoDT] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Hinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/26/2021 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[role] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GRADE] ON 

INSERT [dbo].[GRADE] ([ID], [MaSV], [TiengAnh], [TinHoc], [GDTC]) VALUES (8, N'Ph16402', CAST(9.00 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)))
INSERT [dbo].[GRADE] ([ID], [MaSV], [TiengAnh], [TinHoc], [GDTC]) VALUES (9, N'PH16321', CAST(8.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)))
INSERT [dbo].[GRADE] ([ID], [MaSV], [TiengAnh], [TinHoc], [GDTC]) VALUES (10, N'Ph16402', CAST(9.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[GRADE] OFF
GO
INSERT [dbo].[STUDENTS] ([MaSV], [HoTen], [Email], [SoDT], [GioiTinh], [DiaChi], [Hinh]) VALUES (N'ph16321', N'HoaGuyen', N'hoad5@gad.ads', N'0924324222', 1, N'HO Noi', N'D:\driver\JAVA 3\ASS\ASS\src\image\girl (2).png')
INSERT [dbo].[STUDENTS] ([MaSV], [HoTen], [Email], [SoDT], [GioiTinh], [DiaChi], [Hinh]) VALUES (N'ph16402', N'nguyen Van Duc', N'itachi020914@gmail.com', N'0985840363', 1, N'Thanh Hoa', N'D:\driver\JAVA 3\ASS\ASS\src\image\boy (1).png')
INSERT [dbo].[STUDENTS] ([MaSV], [HoTen], [Email], [SoDT], [GioiTinh], [DiaChi], [Hinh]) VALUES (N'ph32424', N'nguyễn ngọc phú2k', N'phu@gamil.com', N'0928432423', 0, N'Cần thơ', N'No Avatar')
GO
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'admin', N'1', NULL)
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'DT1', N'12', N'Cán bộ đào tạo')
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'duc1', N'duc02', N'duc')
GO
ALTER TABLE [dbo].[GRADE]  WITH CHECK ADD  CONSTRAINT [FK_GRADE_STUDENT] FOREIGN KEY([MaSV])
REFERENCES [dbo].[STUDENTS] ([MaSV])
GO
ALTER TABLE [dbo].[GRADE] CHECK CONSTRAINT [FK_GRADE_STUDENT]
GO
USE [master]
GO
